.welcome {
    width: 100%;
}

.unionLogo {
    display: flex;

}
.union {
    width: 24.75px;
    height: 25px;
    margin-right: 20px;
}

.logo {
    width: 138.44px;
    height: 36px;
}

.banner {
    width: 80%;
    margin: 10rem 5rem;
}